<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	{% include header.html %}
	<main>
		<article>
			{{ content }}
		</article>
		{% include footer.html %}
	</main>
</body>

<form action="https://getsimpleform.com/messages?form_api_token=7dff880f97b0c9336a872da13ee245a3" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />
  <!-- all your input fields here.... -->
  <input type='text' name='test' />
  <input type='submit' value='Test form' />
</form>

</html>
